:root{
    box-sizing: border-box;
    --border-radius: 20%;
    --transition: 0.5s linear;
}
body{
    padding: 0px;
    margin: 0px;
}
#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper{
    width: 504px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background-color: #eee;
    box-shadow: 1rem 1rem 1rem gray;
    border-radius: 1rem;

}
#card{
    position: relative;
    background-color: red;
    font-size: 2rem;
    width: 100%;
    height: 60%;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
#card>#p1, #card>#p2{
    position: absolute;
    left: 20%;
    width: 60%;
    bottom: 15%;
    height: 70%;
    border-radius: 1rem;
    text-align: center;
    background-color: aqua;
}
#select{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 100%;
}
#select>button{
    display: inline-block;
    background-color: aqua;
    color: black;
    border-radius: var(--border-radius);
    border-color: black;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
#select>button:active{
    background-color: white;
}
.hide{
    transform: rotateY(90deg);
    transition: var(--transition);
}
.show{
    transform: rotateY(0deg);
    transition: var(--transition);
    transition-delay: 0.5s;
    
}
@media screen and (max-width: 720px) {
    #wrapper{
        width: 70%;
    }
}
@media screen and (max-width: 480px) {
    #wrapper{
        width: 90%;
    }
}
@media screen and (max-width: 360px) {
    #wrapper{
        width: 98%;
    }
}